body {
    font-family: "New Roman", sans-serif;
}

/* Definindo as cores */
body{
    background-color: #0093B3;
    color: #BE51A7;
}

#segunda-div {
    background-color: #BE51A7;
    color: #0093B3;
}
.footer {
    background-color: #BE51A7;
    color: #0093B3;
}
